{% load static %}
<!DOCTYPE html>

<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link rel="icon" href="/static/logo/surveycorpslogo.png">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'story_5/bootstrap.min.css' %}">
        <link rel='stylesheet' type='text/css' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'>
        <link rel="stylesheet" href="{% static 'story_5/style.css' %}">
        <title>Ardi Nusantara</title>
    </head>
    <body>
        <!-- Nav bar -->
        <nav class="navbar navbar-expand-md navbar-dark top-bar-color fixed-top">
            <div class="container">
                <a class="navbar-brand mr-4" href="{% url 'blog:home' %}"><img class="rounded-circle" src="/static/images/Foto.jpg" alt="Foto Saya" width="40" height="40"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="{% url 'blog:home' %}">Home</a>
                        <a class="nav-item nav-link" href="{% url 'home' %}">Daftar Matkul</a>
                        <a class="nav-item nav-link" href="{% url 'matkul-create' %}">Tambah Matkul</a>
                    </div>
                </div>
            </div>
        </nav>

        <br>

        <main role="main" class="container">
            {% block content %}{% endblock %}
        </main>
    </body>
</html>