{% extends "story_5/base.html" %}
{% block content %}
    {% for matkul in matkuls %}
        <div class="container">
            <div class="content-section" style="border-radius: 20px">
                <legend class="border-bottom mb-4"><h2><a href="{% url 'matkul-detail' matkul.id %}">{{ matkul.nama }}</a></h2></legend>
                <p>{{ matkul.dosen }}</p>
                <p>{{ matkul.semester }}</p>
            </div>
        </div>
        
    {% endfor %}
{% endblock content %}

