{% extends "story_5/base.html" %}
{% block content %}
    <div class="container">
        <div class="content-section" style="border-radius: 20px">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Hapus Matkul</legend>
                    <h2>Apakah kamu yakin ingin menghapus matkul "{{ object.nama }}"?</h2>
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-danger" type="submit">Ya!, Hapus</button>
                    <a class="btn btn-outline-secondary" href="{% url 'matkul-detail' object.id %}">Gak jadi deh</a>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}