{% extends "story_5/base.html" %}
{% block content %}
  <div class="container">
    <div class="content-section" style="border-radius: 20px">
      <legend class="border-bottom mb-4"><h2>Mata Kuliah : {{ object.nama }}</h2></legend>
      <h4>Semester  : {{ object.semester }}</h4>
      <h4>Dosen     : {{ object.dosen }}</h4>
      <h4>SKS       : {{ object.sks }}</h4>
      <h4>Ruangan   : {{ object.ruangan }}</h4>
      <p>Deskripsi  : {{ object.deskripsi }}</p>
      <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'matkul-update' object.id %}">Update</a>
      <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'matkul-delete' object.id %}">Delete</a>
    </div>
</div>
{% endblock content %}