body {
    background-color: #EDE5E5;
    margin-top: 5rem;
    font-family: sans-serif;
}

.top-bar-color {
    background-color: #5f788a;
}

.content-section {
    background: #ffffff;
    padding: 15px 25px;
    border-radius: 3px;
    margin-bottom: 20px;
}

#foto img {
    max-width: 15rem;
}

h2, h4 {
    color: #444444;
    text-align: center;
    font-weight: 700;
    line-height: 1.6em;
}

p {
    color: #444444;
    text-align: center;
    line-height: 1.6em;
    font-size: 1.5em;
    font-weight: 500;
}


footer {
    background-color: #767676;
    padding: 1rem 2rem 3rem;
}

footer a, footer p{
    color: white;
    text-decoration:none;
}

ul.social {
    list-style-type: none;
    display: flex;
    max-width: 16rem;
    margin: 0 auto;
    padding: 0
}

ul.social li{
    margin: 0 auto;
}

.fa{
    font-size:2rem;
}