{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            .Foto{
                text-align: center;
            }
            
            .Foto img{
                border-radius: 50%;
                border: 2px solid;
                margin-left: auto;
                margin-right: auto;
            }
        </style>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'first_story/story1.css' %}">
        <title>Story PPW</title>
    </head>
    <body>
        <!-- Nav bar -->
        <header class="site-header">
            <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
                <div class="container">
                    <a class="navbar-brand mr-4" href="/">Ardi's PPW Story</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarToggle">
                        <div class="navbar-nav mr-auto">
                            <a class="nav-item nav-link" href="/">Home</a>
                        </div>
                        <!-- Navbar Right Side -->
                        <div class="navbar-nav">
                            <table id="media">
                                <tr>
                                    <td>
                                        <a href="https://web.facebook.com/lazuardi.pratama.92/">
                                            <img src="https://image.flaticon.com/icons/png/512/59/59439.png" alt="Facebook Saya" width="50" height="50">
                                        </a>
                                    </td>
                    
                                    <td>
                                        <a href="https://www.instagram.com/ardi_nusantara/">
                                            <img src="https://downloadfreesvgicons.com/icons/social-media-icons/svg-instagram-logo-icon-1/svg-instagram-logo-icon-1.svg" alt="Instagram Saya" width="50" height="50">
                                        </a>
                                    </td>
                    
                                    <td>
                                        <a href="https://twitter.com/ardippnusantara/">
                                            <img src="https://image.flaticon.com/icons/svg/60/60580.svg" alt="Twitter Saya" width="50" height="50">
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <main role="main" class="container">
            <div class="row">
                <div class="col-md-12">
                    <article class="media content-section">
                        <div class="media-body">
                            <div class="Foto">
                                <img src=https://maung.id/static/3379cb56d691cb522964a6052b55089e/9f583/TH28.jpg alt="Foto Saya" width="150" height="150">
                            </div>
                            <h2 class="article-title">Lazuardi Pratama Putra Nusantara</a></h2>
                            <p class="article-content">1906398225 | Fakultas Ilmu Komputer Universitas Indonesia | Maung 2019</p>
                        </div>
                    </article>
                </div>
                <div class="col-md-6">
                    <div class="content-section">
                        <h4>Sedikit Tentang Saya</h4>
                        <p>Saya adalah orang yang memiliki rasa ingin tahu yang tinggi. Saya hobi membaca komik dan bermain game. Motto hidup saya adalah "play it smart".</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <article class="media content-section">
                        <div class="media-body">
                            <h4>Riwayat Pendidikan</h4>
                            <table>
                                <tr>
                                    <th>Tahun</th>
                                    <td rowspan=7>&nbsp;</td>
                                    <th>Tempat Pendidikan</th>
                                </tr>
                                <tr>
                                    <td>2007 - 2008</td>
                                    <td>SD Pertiwi Sumatera Utara</td>
                                </tr>
                                <tr>
                                    <td>2008 - 2010</td>
                                    <td>SDIT Al-Kahfi Jakarta</td>
                                </tr>
                                <tr>
                                    <td>2010 - 2013</td>
                                    <td>SDIT Baitussalam Jawa Barat</td>
                                </tr>
                                <tr>
                                    <td>2013 - 2016</td>
                                    <td>SMP Islam Al-Hamidiyah</td>
                                </tr>
                                <tr>
                                    <td>2016 - 2019</td>
                                    <td>SMAN 1 Depok</td>
                                </tr>
                                <tr>
                                    <td>2019 - Sekarang</td>
                                    <td>Fakultas Ilmu Komputer Universitas Indonesia</td>
                                </tr>
                            </table>
                        </div>
                    </article>
                </div>
                
            </div>
        </main>
        
    </body>
</html>
