{% load static %}
<!DOCTYPE html>

<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link rel="icon" href="/static/logo/surveycorpslogo.png">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'blog/bootstrap.min.css' %}">
        <link rel='stylesheet' type='text/css' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'>
        <link rel="stylesheet" href="{% static 'blog/style.css' %}">
        <title>Ardi Nusantara</title>
    </head>
    <body>
        <!-- Nav bar -->
        <nav class="navbar navbar-expand-md navbar-dark top-bar-color fixed-top">
            <div class="container">
                <a class="navbar-brand mr-4" href="/"><img class="rounded-circle" src="/static/images/Foto.jpg" alt="Foto Saya" width="40" height="40"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="/">Home</a>
                        <a class="nav-item nav-link" href="/contact">Contact Me</a>
                        <a class="nav-item nav-link" href="{% url 'first_story:story1' %}">Story 1</a>
                        <a class="nav-item nav-link" href="{% url 'home' %}">Story 5</a>
                    </div>
                </div>
            </div>
        </nav>

        <br>

        <main role="main" class="container">
            {% block content %}{% endblock %}
        </main>

        <!-- Footer -->
        <footer id="footer">
            <div class="container">
                <div class="row text-light text-center py-4 justify-content-center">
                    <p style="color: white">Punya interest yang sama dengan saya? Ingin mengobrol-ngobrol? Kontak saya di:</p>
                    <div class="col-sm-10 col-md-8 col-lg-6">
                        <ul class="social pt-3">
                            <li><a href="https://web.facebook.com/lazuardi.pratama.92/" rel="noopener noreferrer" target="_blank"><em class="fa fa-facebook"></em></a></li>
                            <li><a href="https://www.instagram.com/ardi_nusantara/" rel="noopener noreferrer" target="_blank"><em class="fa fa-instagram"></em></a></li>
                            <li><a href="https://twitter.com/ardippnusantara/" rel="noopener noreferrer" target="_blank"><em class="fa fa-twitter"></em></a></li>
                            <li><a href="https://www.linkedin.com/in/ardi-nusantara-5282971a3/" rel="noopener noreferrer" target="_blank"><em class="fa fa-linkedin"></em></a></li>
                        </ul>
                    </div>
                </div>
            </div> 
        </footer>
    </body>
</html>