{% extends "blog/base.html" %}
{% block content %}
<div class="site-inner">
    <div class="content-sidebar-wrap">
        <main class="content">
                <header class="entry-header"><h1 class="entry-title" style="text-align: center;" itemprop="headline">Contact</h1></header>
                <div class="entry-content" itemprop="text">
                    <div role="form" class="wpcf7" id="wpcf7-f864-p865-o1" lang="en-US" dir="ltr">
                        <div class="screen-reader-response" role="alert" aria-live="polite"></div>
                        <form action="/contact#wpcf7-f864-p865-o1" method="post" class="wpcf7-form init" novalidate="novalidate">
                            <div style="display: none;">
                                <input type="hidden" name="_wpcf7" value="864" />
                                <input type="hidden" name="_wpcf7_version" value="5.2.2" />
                                <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f864-p865-o1" />
                                <input type="hidden" name="_wpcf7_container_post" value="865" />
                                <input type="hidden" name="_wpcf7_posted_data_hash" value="" />
                            </div>
                            <div class="wpcf7-response-output" role="alert" aria-hidden="true"></div>
                            <p>Name:<br />
                                <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" /></span> </p>
                            <p>Email:<br />
                                <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" /></span> </p>
                            <p>Subject:<br />
                                <span class="wpcf7-form-control-wrap your-subject"><input type="text" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" /></span> </p>
                            <p>Message:<br />
                                <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false"></textarea></span> </p>
                            <p><input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit" /></p>
                        </form>
                    </div>
                </div>
        </main>
    </div>
</div> 
{% endblock content %}