{% extends "blog/base.html" %}
{% block content %}
<div class="content">
    <div class="container text-center mt-4">
        <div id="foto">
            <img class="rounded-circle" src="/static/images/Foto.jpg" alt="Foto Saya">
        </div><br>
        <h2>Lazuardi Pratama Putra Nusantara</a></h2>
        <p>Computer Science Student | Universitas Indonesia</p>
    </div><br>
    
    <div class="selection">
        <div class="container">
            <div class="content-section" style="border-radius: 20px">
                    <h4>Tentang Saya</h4>
                    <p>Saya adalah seorang pelajar angkatan 2019 di Universitas Indonesia yang sedang menjalani pendidikan S1 Ilmu Komputer. 
                        Saya adalah orang yang memiliki rasa ingin tahu yang tinggi. Saya hobi membaca komik dan bermain game. 
                    </p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="content-section" style="border-radius: 20px">
                        <div class="h4 mt-0 title"><h4>Riwayat Pendidikan</h4></div>
                        <div class="row">
                            <div class="col-sm-4"><strong>2007 - 2008</strong></div>
                            <div class="col-sm-8">SD Pertiwi Sumatera Utara</div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-4"><strong>2008 - 2010</strong></div>
                            <div class="col-sm-8">SDIT Al-Kahfi Jakarta</div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-4"><strong>2010 - 2013</strong></div>
                            <div class="col-sm-8">SDIT Baitussalam Jawa Barat</div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-4"><strong>2013 - 2016</strong></div>
                            <div class="col-sm-8">SMP Islam Al-Hamidiyah</div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-4"><strong>2016 - 2019</strong></div>
                            <div class="col-sm-8">SMAN 1 Depok</div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-4"><strong>2019 - Sekarang</strong></div>
                            <div class="col-sm-8">Universitas Indonesia</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="content-section" style="border-radius: 20px">
                        <div class="h4 mt-0 title"><h4>Interest & Skills</h4></div>
                        <p>Saya mahir dalam menggunakan Python dan Java. Sekarang saya sedang mendalami HTML dan CSS. 
                            Saya memiliki interest pada manga, anime, dan mobile game.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><br><br><br>
{% endblock content %}